.client-navbar {
  background-color: #121212; // dark background

  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .navbar-left {
    display: flex;
    align-items: center;

    .logo {
   height: 60px;
  width: auto;
  background-color: transparent;
  border-radius: 4px;
  margin-right: 10px;
    }
img.logo {
  display: block;

  width: auto;
  background-color: transparent;
  border-radius: 4px;
  margin-right: 10px;
}

    .brand {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;

    a {
      color: white;
      margin-left: 15px;
      text-transform: uppercase;
    }

    .active-link {
      border-bottom: 2px solid #00bcd4;
    }
  }
}
