<mat-toolbar color="primary" class="client-navbar">
  <div class="navbar-left">
    <img src="../assets/logo2.png" alt="CloudMall" class="logo" />


    <span class="brand">CloudMall</span>
  </div>

  <div class="navbar-right">
    <a mat-button routerLink="/client" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/client/contact" routerLinkActive="active-link">Contact</a>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->

<mat-toolbar color="primary" class="footer" role="contentinfo">
  <div class="footer-container">
    <!-- About -->
    <div class="footer-section">
      <h3>About CloudMall</h3>
      <p>CloudMall is your one-stop marketplace for all your online needs.</p>
    </div>

    <!-- Quick Links -->
    <div class="footer-section">
      <h3>Quick Links</h3>
      <a mat-button routerLink="/client">Home</a>
      <a mat-button routerLink="/client/contact">Contact</a>
    </div>

    <!-- Contact -->
    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: supportcloudmall.com</p>
      <p>Phone: +123-456-7890</p>
    </div>
  </div>
</mat-toolbar>