<nav class="navbar navbar-slick navbar-expand-lg navbar-dark fixed-top py-2" data-navbar-dark-on-scroll="data-navbar-dark-on-scroll">

  <!-- Client Mode -->
  <ng-container  *ngIf="mode === 'client'">
    <app-ClientLogin *ngIf="showClientLogin" (switchToRegister)="openClientRegister()"  (close)="closeClientLogin()"></app-ClientLogin>
<app-ClientRegister 
 *ngIf="showClientRegister"
  (close)="closeClientRegister()" 
  (switchToLogin)="openClientLogin()">
></app-ClientRegister>
    <div [class.blur]="showClientRegister" class="container container-wide-xl">
      <!-- Branding and navigation content -->
      <a class="navbar-brand ls-2 p-0 me-4" href="#">
        <img src="../../../assets/logo2.png" alt="SLiCK" width="50" />
      </a>
      <!-- Toggle and menu -->
      <button class="navbar-toggler hamburger hamburger--emphatic" type="button"
              data-bs-toggle="collapse" data-bs-target="#primaryNavbarCollapse"
              aria-controls="primaryNavbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </button>
      <div class="collapse navbar-collapse" id="primaryNavbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#Home">Features</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <ul class="navbar-nav ms-auto align-items-lg-center">
          <li class="nav-item"><a class="btn btn-outline-light rounded-pill btn-sm border-2 ms-lg-2" href="#purchase">Get Started</a></li>
                <li class="nav-item" *ngIf="!isLoggedIn">
  <button type="button" class="nav-link btn btn-outline-light rounded-pill btn-sm border-2 ms-lg-2"
          (click)="openClientLogin()">
    Sign in
  </button>
</li>
<li class="nav-item text-white" *ngIf="isLoggedIn">
  <span class="nav-link">Welcome back, {{ name }}</span>
</li>
        </ul>
      </div>
    </div>
  </ng-container>

  <!-- Vendor Mode -->
  <ng-container *ngIf="mode === 'vendor'">
    <app-VendorLogin *ngIf="showVendorLogin"   (switchToRegister)="openVendorRegister()" (close)="closeVendorLogin()"></app-VendorLogin>
<app-VendorRegister 
  *ngIf="showVendorRegister"
  (close)="closeVendorRegister()" 
  (switchToLogin)="openVendorLogin()">
</app-VendorRegister>
    <div [class.blur]="showVendorLogin" class="container container-wide-xl">
      <a class="navbar-brand ls-2 p-0 me-4" href="#">
        <img src="../../../assets/logo2.png" alt="SLiCK" width="50" />
      </a>
      <button class="navbar-toggler hamburger hamburger--emphatic" type="button"
              data-bs-toggle="collapse" data-bs-target="#primaryNavbarCollapse"
              aria-controls="primaryNavbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </button>
      <div class="collapse navbar-collapse" id="primaryNavbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <ul class="navbar-nav ms-auto align-items-lg-center">
          <li class="nav-item"><a [routerLink]="['/vendor']"
   [fragment]="'purchase'"
   class="btn btn-outline-light rounded-pill btn-sm border-2 ms-lg-2">
  Get Started
</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn">
  <button type="button" class="nav-link btn btn-outline-light rounded-pill btn-sm border-2 ms-lg-2"
          (click)="openVendorLogin()">
    Sign in
  </button>
</li>
<li class="nav-item text-white" *ngIf="isLoggedIn">
  <span class="nav-link">Welcome back, {{ name }}</span>
</li>
        </ul>
      </div>
    </div>
  </ng-container>
</nav>
